/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 800  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        mc_EUR: mc_EUR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(N5)>;
            label = "MC_EUR";
        };

        mc_DRM: mc_DRM {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(LS(L))>;
            label = "MC_DRM";
        };

        mc_MU: mc_MUE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(M)>;
            label = "MC_MUE";
        };

        mc_CIRC: mc_CIRC {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(LS(SEMI))>;
            label = "MC_CIRC";
        };

        mc_PARA: mc_PARA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(LS(S))>;
            label = "MC_PARA";
        };
    };

    behaviors {
        hsl: hsl {
            compatible = "zmk,behavior-hold-tap";
            label = "HSL";
            bindings = <&kp>, <&sl>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  B  |  U  |  .  |  ,  |  G  |  MUTE |  PP   |  M  |  L   |  F  |  D  |  W  | BSPC |
            // | CTRL |  H  |  I  |  E  |  A  |  O  |  LALT |  RALT |  T  |  N   |  R  |  S  |  P  |  =   |
            // | SHFT |  K  |  X  |  C  |  V  |  Z  |               |  Y  |  J   |  Q  |  ;  |  /  | RALT |
            //                    | GUI | LWR | SPC |               | ENT | RSE  | ALT |

            bindings = <
&kp ESC    &kp B  &kp U        &mt SEMI COMMA  &mt COLON DOT   &kp Z      &rgb_ug RGB_ON  &rgb_ug RGB_OFF  &kp P          &kp C           &kp L            &kp M        &kp F     &kp DEL
&kp LSHFT  &kp H  &kp A        &kp E           &kp I           &kp O      &none           &none            &kp D          &kp T           &kp R            &kp N        &kp S     &kp RIGHT_SHIFT
&sl 4      &kp K  &mt LCTRL Y  &mt LEFT_WIN X  &mt LEFT_ALT Q  &kp J                                       &kp RIGHT_ALT  &mt LEFT_ALT G  &mt RIGHT_WIN W  &mt RCTRL V  &kp APOS  &sl 4
                               &sl 1           &lt 2 SPACE     &lt 3 TAB                                   &lt 3 ENTER    &lt 2 SPACE     &sl 1
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>,
                <&inc_dec_kp (RC(K_SCROLL_DOWN)) RC(K_SCROLL_UP)>,
                <&inc_dec_kp C_VOLUME_UP C_VOL_DN>,
                <&inc_dec_kp K_SCROLL_DOWN K_SCROLL_UP>;
        };

        symbol_layer {
            bindings = <
&kp ESC         &kp PERCENT  &kp HASH   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &mc_CIRC  &trans  &trans  &kp BACKSLASH  &kp GT           &kp LT          &kp COLON  &kp CARET  &kp DELETE
&kp LEFT_SHIFT  &kp EQUAL    &kp EXCL   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AT    &trans  &trans  &kp SLASH      &kp RIGHT_BRACE  &kp LEFT_BRACE  &kp MINUS  &mc_DRM    &kp RIGHT_SHIFT
&mc_PARA        &kp PLUS     &kp QMARK  &kp AMPS              &kp STAR               &mc_EUR                   &kp PIPE       &mc_MU           &kp DOLLAR      &kp UNDER  &kp GRAVE  &kp TILDE
                                        &none                 &kp SPACE              &kp TAB                   &kp ENTER      &kp SPACE        &none
            >;
        };

        nav_layer {
            bindings = <
&kp K_FIND      &kp K_REDO  &kp LC(W)   &kp LC(T)    &kp LC(LS(TAB))  &kp LC(TAB)    &trans  &trans  &kp BACKSPACE      &kp K_MENU    &kp PG_DN     &kp PG_UP  &kp INSERT     &kp DEL
&kp LEFT_SHIFT  &kp K_UNDO  &kp K_COPY  &kp LA(TAB)  &kp K_PASTE      &kp K_CUT      &trans  &trans  &kp ENTER          &kp LEFT      &kp UP_ARROW  &kp DOWN   &kp RIGHT      &kp RIGHT_SHIFT
&kp LCTRL       &none       &kp LC(A)   &kp TAB      &kp K_BACK       &kp K_FORWARD                  &kp LC(BACKSPACE)  &kp LC(LEFT)  &kp HOME      &kp END    &kp LC(RIGHT)  &sk LC(DELETE)
                                        &trans       &trans           &trans                         &trans             &trans        &trans
            >;
        };

        number_layer {
            bindings = <
&kp ESC  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F11  &kp F12  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &studio_unlock
&none    &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &trans   &trans   &kp N6  &kp N7  &kp N8  &kp N9  &kp N0   &none
&none    &none   &none   &none   &none   &none                     &none   &none   &none   &none   &none    &none
                         &none   &none   &none                     &none   &none   &none
            >;
        };

        utils_layer {
            bindings = <
&bootloader  &none           &none         &none             &none         &none         &trans  &trans  &none   &mkp MB1        &mkp MB3      &mkp MB2        &none            &studio_unlock
&bt BT_CLR   &kp C_PREVIOUS  &kp C_MUTE    &kp C_PLAY_PAUSE  &kp C_NEXT    &none         &trans  &trans  &none   &mmv MOVE_LEFT  &mmv MOVE_UP  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none
&none        &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4                  &none   &mkp MB4        &msc SCRL_UP  &msc SCRL_DOWN  &mkp MB5         &none
                                           &trans            &trans        &trans                        &trans  &trans          &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
